<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style2.css">
    <title>Share IO - Simplified way to share your files</title>
</head>
<body>
    <div id="container">
        <div class="txt-file">
            <h1>Here is your Shared Data. Thanks for Working With Us</h1>
        </div>
        <div id="main-div"><pre><%= savedData %></pre></div>
        <button id="copy-btn" onclick="copy">Copy</button>
    </div>
    <script src="/script2.js"></script>
</body>
</html>
